@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
nav {
  display: flex;
  height: 90px;
  width: 100%;
  background: #d9e4e9;
  align-items: center;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  padding: 10px 50px 0 100px;
  flex-wrap: wrap;
  box-shadow: 0 0 7px rgb(71, 71, 71);
}
nav .logo {
  color: #424866;
  font-size: 35px;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #424866;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a .active, nav ul li a:hover {
  color: #ffffff;
  background: #424866;
}
nav .menu-btn i {
  color: #424866;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type=checkbox] {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #d9e4e9;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  nav #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav nav ul li a .active, nav nav ul li a:hover {
    background: none;
    color: #424866;
  }
}
.content div {
  font-size: 40px;
  font-weight: 700;
}

footer {
  bottom: 0px;
  width: 100%;
  background: #d9e4e9;
  box-shadow: 0 0 7px rgb(71, 71, 71);
}

.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #d9e4e9;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #d9e4e9;
  top: -10px;
}

.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  color: black;
  background: #d9e4e9;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: white;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #d9e4e9;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: white;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #424866;
}
.right form .msg {
  margin-top: 10px;
}
.right form input, .right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: white;
  padding-left: 10px;
  border: 1px solid white;
}
.right form input:focus, .right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  background: white;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #424866;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #424866;
}
.bottom center span {
  color: white;
}
.bottom center a {
  color: black;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
#carouselExampleIndicators {
  padding-top: 90px;
}

.title .titletext {
  text-align: center;
  line-height: 80px;
  color: white;
  background-color: #424866;
}
.title a {
  text-decoration: none;
}
.title a h2 {
  text-align: center;
  line-height: 80px;
  color: #424866;
  padding-top: 20px;
}

.nu h2 {
  text-align: center;
  line-height: 80px;
  color: #424866;
}

.ofertas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta {
  height: 510px;
  width: 350px;
  box-shadow: 0 0 7px rgb(71, 71, 71);
  margin: 30px 30px;
  border-radius: 20px;
  background-color: #d9e4e9;
}
.tarjeta .card {
  height: 330px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
}
.tarjeta .ironman {
  background-color: #F6F6F6;
}
.tarjeta .ironman img {
  height: 300px;
  width: 230px;
}
.tarjeta .miles {
  background-color: #F6F6F6;
}
.tarjeta .miles img {
  height: 300px;
  width: 380px;
}
.tarjeta .spiderman {
  background-color: #F6F6F6;
}
.tarjeta .spiderman img {
  height: 300px;
  width: 380px;
}
.tarjeta .venom {
  background-color: #F6F6F6;
}
.tarjeta .venom img {
  height: 300px;
  width: 380px;
}
.tarjeta .razor {
  background-color: #F6F6F6;
}
.tarjeta .razor img {
  height: 300px;
  width: 300px;
}
.tarjeta .bowser {
  background-color: #F6F6F6;
}
.tarjeta .bowser img {
  height: 270px;
  width: 300px;
}
.tarjeta .fut {
  background-color: #F6F6F6;
}
.tarjeta .fut img {
  height: 250px;
  width: 300px;
}
.tarjeta .howart {
  background-color: #F6F6F6;
}
.tarjeta .howart img {
  height: 300px;
  width: 300px;
}
.tarjeta .stunt {
  background-color: #F6F6F6;
}
.tarjeta .stunt img {
  height: 300px;
  width: 300px;
}
.tarjeta .van {
  background-color: #F6F6F6;
}
.tarjeta .van img {
  height: 300px;
  width: 370px;
}
.tarjeta .tank {
  background-color: #F6F6F6;
}
.tarjeta .tank img {
  height: 220px;
  width: 300px;
}
.tarjeta .nether {
  background-color: #F6F6F6;
}
.tarjeta .nether img {
  height: 250px;
  width: 300px;
}
.tarjeta .warped {
  background-color: #F6F6F6;
}
.tarjeta .warped img {
  height: 220px;
  width: 300px;
}
.tarjeta .ice {
  background-color: #F6F6F6;
}
.tarjeta .ice img {
  height: 280px;
  width: 350px;
}
.tarjeta .ducati {
  background-color: #F6F6F6;
}
.tarjeta .ducati img {
  height: 270px;
  width: 300px;
}
.tarjeta .porsche {
  background-color: #F6F6F6;
}
.tarjeta .porsche img {
  height: 280px;
  width: 300px;
}
.tarjeta .ferrari {
  background-color: #F6F6F6;
}
.tarjeta .ferrari img {
  height: 200px;
  width: 300px;
}
.tarjeta .mixer {
  background-color: #F6F6F6;
}
.tarjeta .mixer img {
  height: 220px;
  width: 300px;
}
.tarjeta .formula {
  background-color: #F6F6F6;
}
.tarjeta .formula img {
  height: 240px;
  width: 300px;
}

.card img {
  margin: auto;
  display: block;
}

.info {
  height: 80px;
  width: 100%;
}
.info a {
  text-decoration: none;
  color: black;
}
.info a h2 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.info p {
  text-align: center;
  font-size: 0.9em;
}

.precio {
  height: 50px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-precio {
  width: 80px;
}

.precio1 {
  font-size: 0.8em;
  color: red;
}
.precio1 .precio2 {
  font-size: 1.5em;
}

.carrito {
  font-size: 1.5em;
  color: #424866;
}

.productos {
  padding-top: 90px;
}

.nosotros {
  padding-top: 90px;
}
.nosotros .nos {
  text-align: center;
  line-height: 70px;
  color: white;
  background-color: #424866;
}
.nosotros .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 500px;
}
.nosotros .info .transporte {
  text-align: center;
  padding: 10px;
}
.nosotros .info .transporte h3 {
  padding: 20px;
}
.nosotros .info .horario {
  text-align: center;
  padding: 40px;
}
.nosotros .info .horario h3 {
  padding: 20px;
}

.map h4 {
  text-align: center;
  padding: 20px;
}

.piezas {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.ayuda {
  padding-top: 90px;
}
.ayuda .ay {
  text-align: center;
  line-height: 70px;
  color: white;
  background-color: #424866;
}
.ayuda .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 310px;
}
.ayuda .info .preguntas {
  text-align: center;
  padding: 10px;
}
.ayuda .info .preguntas h3 {
  padding: 20px;
}
.ayuda .info .cambios {
  text-align: center;
  padding: 40px;
}
.ayuda .info .cambios h3 {
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 667px) {
  body {
    background-color: #424866;
  }
  body .of h2, body .of h3, body .of h4, body .nu h2, body .nu h3, body .nu h4, body .map h2, body .map h3, body .map h4, body .transporte h2, body .transporte h3, body .transporte h4, body .horario h2, body .horario h3, body .horario h4 {
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
